BLUE_IMAGE=gerald22/chaos:2.0
GREEN_IMAGE=gerald22/chaos:2.0
WATCHER_IMAGE=gerald22/watcher-service:3.0

RELEASE_ID_BLUE=v1.0.0-blue
RELEASE_ID_GREEN=v1.0.0-green

POOL_NAME_BLUE=blue
POOL_NAME_GREEN=green

ACTIVE_POOL=blue

PORT=3000

NGINX_PORT=8080

BLUE_PORT=8081
GREEN_PORT=8082

SLACK_WEBHOOK_URL="https://hooks.slack.com/YOUR/SLACK/WEBHOOK/URL"
ERROR_RATE_THRESHOLD=2
WINDOW_SIZE=200
ALERT_COOLDOWN=300